<div class="skin-wrapper">
    <div class="skin-bg">
        <div class="skin-text skin-price">
            <div class="content-tier">
                <img src="https://media.valorant-api.com/contenttiers/{PriceTier}/displayicon.png"
                    class="price-tier-img">
            </div>
            <span class="skin-price-text">{SkinPrice} VP</span>
        </div>
        <div class="skin-text skin-title">{SkinName}</div>
        <div class="skin-text skin-title bg">{SkinName}</div>
        <img src="https://media.valorant-api.com/weaponskinlevels/{SkinId}/displayicon.png"
            class="skin-image {Knife}" />
    </div>
</div>